{% extends 'base.html'%}
{% block content %}
<div class="card panel text-center bg">
<p class="text-center"><h3 class ="text-center">QUOTE:</h3>  {{quote.quote}}</p>
<p class="text-center"><h3 class ="text-center">AUTHOR:</h3> {{quote.author}}</p>
</div>
<style>
    .bg{
        background: olive;
        color: white;
    }
     body {
        background-image: url('../static/photos/light.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
  }
</style>
{% endblock %}